.Hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0;
}

.Hero-heading {
  margin-top: 0;
  text-align: center;
  text-shadow: 0 1px 1px var(--white);
}

.Hero-hr {
  background-color: white;
  margin-top: 40px;
  width: 60%;
}

.Hero-installer {
  font-size: 1.125rem;
  margin: 40px auto 0;
}

.Hero-installer code {
  border: 0;
  font-size: inherit;
  padding: 0;
}
