/*
 * Active state for Dark Button
 */

.btn--dark.is-active:after {
  background-color: transparent !important;
}

.btn--dark.is-active,
.btn--dark.is-active:focus,
.btn--dark.is-active:hover {
  background-color: white !important;
  box-shadow: 0 0 50px 1px var(--lighterGray);
  color: var(--black) !important;
  cursor: default;
}

.btn--dark.is-active .btn-icon,
.btn--dark.is-active:focus .btn-icon,
.btn--dark.is-active:hover .btn-icon {
  transform: none !important;
}

.formidableHeader-link.is-active,
.formidableHeader-link.is-active:hover {
  border-bottom: 1px solid var(--red);
  color: var(--darkRed) !important;
  cursor: default;
}
